
.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.list li {
    margin-left: 20px;
}